[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
beautifulsoup4 = "*"
kattis         = {editable = true, path = "."}
python-dotenv  = "*"
requests       = "*"
wheel          = "*"

[dev-packages]
black  = "*"
pytest = "*"
yapf   = "*"

[requires]
python_version = "3.8"
